/*	New Product Page
	================================================

	say: non-blocking message box.

	Mark Simon

	================================================ */

/*	From JavaScript
	================================================ */

	div#message {
		width: 320px;
		height: 480px;
		position: fixed;
		right: 40px;
		top: 20px;
		white-space: pre-wrap;
		border: thin solid #666;
		box-shadow: 4px 4px 4px #666;
		background-color: white;
		z-index: 3000
	}

	div#message p {
		background-color: #ddd;
		font-family: sans-serif;
		color: #033;
		margin: 0;
		padding: .5em;
	}

	div#message textarea {
		overflow: auto;
		white-space: pre-wrap;
		padding: 1em;
		font-family: monospace;
		width: 100%;
		height: calc(100% - 4.5em);
		box-sizing: border-box;
	}

	div#message div#handle {
		padding: 0;
		position: absolute;
		width: .5em;
		height: .5em;
		right: .25em;
		bottom: .25em;
		background-color: red;
		border: thin solid red;
		border-radius: 4px;
		background-color: #ddd;
		border: #999;
		box-shadow:
			inset 4px 4px 4px #999,
			inset -4px -4px 4px #eee;
		cursor: nwse-resize;
	}

	div#message div#close {
		padding: 0;
		position: absolute;
		width: .5em;
		height: .5em;
		left: .25em;
		top: .25em;
		background-color: red;
		border-radius: 4px;
		background-color: red;
		box-shadow:
			inset 4px 4px 4px #900,
			inset -4px -4px 4px #e00;
		cursor: default;
	}

/*	Additional
	================================================ */

	div#message, div#message div#title {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	div#message {
		padding: 1em;
		background-color: #f8f8f8;
		background-color: #ddd !important;
		border: thin solid #666;
	}
	div#message div {
		font-size: 1.2em;
		text-align: center;
		font-family: sans-serif;
		font-weight: bold;
		margin: 0;
		padding: .75em;
	}

/*	Fancy
	================================================ */

	div#message {
		border-radius: 8px;
		box-shadow: inset 4px 4px 2px white, inset -4px -4px 4px #999, 4px 4px 4px #000;
	}

	div#message textarea {
		border-radius: 8px;
		box-shadow: inset 4px 4px 2px #999, inset -4px -4px 4px white;
	}


	div#message p {
		color: #666;
		border-radius: 4px;
		box-shadow: inset 4px 4px 2px #999, inset -4px -4px 4px white;
		text-align: center;
		font-weight: bold;
		font-size: 1.2em;
		margin-bottom: .75em;
	}
